<app-header></app-header>
<mat-drawer-container class="main-page">
  <mat-drawer #drawer class="main-page-sidenav" mode="side">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/events">Events</a>
      </li>
      <li>
        <a class="nav-link" *ngIf="!_authService.loggedIn(); else Logout" (click)="openDialog()">Login</a>
      </li>
      <li>
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register">Register</a>
      </li>
      <ng-template #Logout>
        <li>
          <a class="nav-link"
             *ngIf="_authService.loggedIn()"
             (click)="_authService.logoutUser()"
             routerLink="/login">Logout</a>
        </li>
      </ng-template>

    </ul>
  </mat-drawer>

  <div class="main-page-btn" (click)="drawer.toggle()">
    <button type="button" class="navbar-btn sidebarCollapse"
            (click)="clickEvent()"
            [ngClass]="status ? '!active' : 'active'">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="main-page-content">
    <ng-template #Router>
      <router-outlet></router-outlet>
    </ng-template>
    <div *ngIf="router.url === '/'; else Router">
      <h1>Main page</h1>
    </div>
  </div>

</mat-drawer-container>


<app-footer></app-footer>
